project_id = "hblbwermqzsbibanrjpy"

[api]
enabled = true
port = 54321

[db]
port = 54322

[studio]
enabled = true
port = 54323

[functions.send-otp-email]
verify_jwt = true

[functions.send-approval-email]
verify_jwt = true